
body{
    margin-left: 30px;
}
h1{
    color: #99CCFF;
    transition: color 1s;
}
h1:hover{
    color: #6B8FB2;
}
h2{
    color: #99CCFF;
    transition: color 1s;
}
h2:hover{
    color: #6B8FB2;
}
p{
    color: #99CCFF;
    transition: color 1s;
}
p:hover{
    color: #6B8FB2;
}
li{
    list-style-type: none;
    color: #99CCFF;
    font-size: 1.5em;
    padding-left: 10px;
    padding-bottom: 5px;
    transition: color 1s;
}
li:hover{
    color: #6B8FB2;
}

.data_div{
    box-shadow: 5px 5px 2px #6B8FB2;
    background: #ffffff;
    font-weight: bold;
    color: #99CCFF;
    border-radius: 25px;
    border: 2px solid #6B8FB2;
    padding: 10px;
    margin: 20px;
    transition: color 1s;
}
.data_div:hover{
    color: #6B8FB2;
}
button{
    box-shadow: 2px 2px 1px #6B8FB2;
    background: #ffffff;
    font-weight: bold;
    color: #99CCFF;
    border-radius: 10px;
    border: 2px solid #6B8FB2;
    padding: 5px;
    transition: color 1s;
}
button:hover{
    color: #6B8FB2;
}
/*.dropdown{
    background: #ffffff;
    color: #8aa8bd;
    border-radius: 10px;
    border: 2px solid #99B8B8;
}
.dropdown option{
    background: #ffffff;
    color: #8aa8bd;
    border-radius: 10px;
    border: 2px solid #99B8B8;
    padding: 5px;
}*/
/*.style_checkbox{
    color: #ffffff;
    padding: 5px;
    margin-right: 10px;
    font-size: 2em;
}
.style_checkbox:checked{
    color: #99B8B8;
}*/
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(check_radio_sheet.png) -19px top no-repeat;
}