body{
	margin-left: 30px;
	margin-bottom: 30px;
}
h1{
    color: #6B8FB2;
}
h2{
    color: #6B8FB2;
}
p{
    color: #6B8FB2;
}
.data_div{
	padding-right: 50px;
    overflow: auto;
}
li{ 
    list-style-type: none;
    color: #7AA3CC;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 15px;
    padding-bottom: 5px;
    transition: color 1s;
}
li:hover{
    color: #4B647D;
}
.li2{
    display: inline-block;
    position: relative;
    width: 50%;
    float: left;
}
.li3{
    display: inline-block;
    position: relative;
    width: 33%;
    float: left;
}
label{
	padding-left: 5px;
}

button{
    box-shadow: 2px 2px 1px #6B8FB2;
    background: #ffffff;
    font-weight: bold;
    color: #6B8FB2;
    padding: 2px 10px 2px 10px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid #6B8FB2;


    transition: background 1s;
}
button:hover{
    background: #B8DBFF;
}